name: Build and Publish Docker Image

on:
  push:
    branches:
      - main   # або твоя основна гілка
  workflow_dispatch:  # дозволяє запускати вручну

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонуємо репозиторій
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Логін в Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Будуємо Docker-імідж
      - name: Build Docker image
        run: docker build -t my-tail:latest .

      # 4. Тегуємо імідж для Docker Hub
      - name: Tag Docker image
        run: docker tag my-tail:latest ${{ secrets.DOCKER_USERNAME }}/my-tail:latest

      # 5. Публікуємо імідж
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/my-tail:latest
      # 6. Публікація на PyPI
      - name: Build and publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.6.0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
