name: Build and Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      # 1. Клонуємо репозиторій
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Будуємо Docker-імідж локально
      - name: Build Docker image
        run: docker build -t my-tail:latest .

      # 3. Запуск контейнера (опціонально)
      - name: Test Docker image
        run: docker run --rm my-tail --help

      # 4. Публікація на Test PyPI
      - name: Build and publish to Test PyPI
        uses: pypa/gh-action-pypi-publish@v1.6.0
        with:
          repository_url: https://test.pypi.org/legacy/
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
